body, html {
   min-height: 100%;
   padding: 0;
   margin: 0;
   background: linear-gradient(to bottom right, black , #222, black 75%) no-repeat fixed;
   color: orangered;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 16px;
}

h1 {
   padding: 30px;
   text-align: center;
}

.container {
   width: 90%;
   margin: auto;
}

input, button, textarea {
   font-size: 16px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button.add {
   background: none;
   border: 2px solid orangered;
   border-radius: 10px;
   padding: 8px 15px;
   margin-right: 16px;
   margin-top: 20px;
   color: orangered;
   cursor: pointer;
   transition-duration: 0.2s;
}

button.add:hover {
   box-shadow: 0 0 13px white;
   color: white;
}

input.add {
   width: 500px;
   background: none;
   border: 2px solid orangered;
   border-radius: 10px;
   padding: 8px 15px;
   margin-right: 16px;
   color: white;
   margin-top: 20px;
}

input:focus, button:focus {
   outline: none;
   box-shadow: 0 0 13px white;
}

a:focus {
   outline: none;
}

a {
   text-decoration: none;
}

fieldset {
   margin: 30px auto 0 auto;
   width: 100%;
   border: 2px solid white;
   border-radius: 10px;
   padding: 20px;
   box-sizing: border-box;
}

legend {
   color: white;
}

textarea.add {
   width: 500px;
   background: none;
   border: 2px solid orangered;
   border-radius: 10px;
   padding: 8px 15px;
   margin-right: 16px;
   color: white;
   margin-top: 20px;
}

textarea:focus {
   outline: none;
   box-shadow: 0 0 13px white;
}

.green {
   width: 100%;
   background-color: green;
   font-weight: 800;
   color: white;
   padding: 15px;
   text-align: center;
}

.red {
   width: 100%;
   background-color: orangered;
   font-weight: 800;
   color: white;
   padding: 15px;
   text-align: center;
}


.wrapper {
   margin: 50px auto;
   display: flex;
   flex-wrap: wrap;
   max-width: 100%;
   align-content: flex-start;
}

img {
   border: 3px solid white;
   max-height: 150px;
   max-width: 225px;
   object-fit: cover;
   flex-grow: 1;
   transition-duration: 0.5s;
}

img.delete {
   border: 3px solid white;
}

img:hover {
   transform: scale(1.05);
   border-color:green;
}

img.delete:hover {
   transform: scale(1.05);
   border-color:red; 
}

.progress {
   margin-top: 20px;
   margin-bottom: 30px;
   background-color: grey;
   position:relative;
   width:410px;
   border: 0;
   padding: 0;
}

.bar {
   background-color: orangered;
   width:0%;
   height:5px;
}

.percent {
   position: absolute;
   text-align: center;
   display:inline-block;
}

@media only screen and (max-width:960px) {

h1 {
   font-size: 24px;
}

.wrapper {
   justify-content: center;
}

input.add {
   width: 100%;
   box-sizing: border-box;
}

textarea.add {
   width: 100%;
   box-sizing: border-box;
}

fieldset {
   padding: 10px;
}

button {
   margin-bottom: 20px;
}

img {
   border: 3px solid white;
   max-height: 200px;
   max-width: 300px;
   object-fit: cover;
   flex-grow: 1;
   transition-duration: 0.5s;
}

}